body {
  color: white;
  background-color: black;
}

circle {
  color: black;
}
.graph-container {
  /*display: flex;
  justify-content: center;*/
}

.label-container {
  width: 600px;
  /*text-align: right;*/
}

.label {
  height: 20px;
  margin: 0;
  padding: 0px, 10px, 0px, 0px;
}
