@import url('https://fonts.googleapis.com/css?family=Atomic+Age');

body {
  color: white;
  background-color: black;
  font-family: 'Atomic Age', cursive;
}

button {
  width: auto;
  font-family: 'Atomic Age', cursive;
  font-size: 1em;
  display: inline;
}

select {
  width: auto;
  font-size: 1em;
  font-family: 'Atomic Age', cursive;
  display: inline;
}
